-# logo_ultra A logo which has been cleaned up by the marketing web development team with very specific requirements.
-# logo_ultra: Saved with "presentation attributes", not style attributes/elements.
-# logo_ultra: Logo is monochromatic and filled/outlined with "currentColor".
.customer-logos-container.clear-background
  %p
    Used by more than 100,000 organizations around the globe
  .logos-container
    - data.organizations.each do |org|
      - if org.landing == true
        - if org.asset_link
          %a{ href: "#{org.asset_link}" }
            - if org.logo_ultra
              = partial "#{org.logo_ultra}"
            - else
              = partial "#{org.logo}"
        - else
          - if org.logo_ultra
            = partial "#{org.logo_ultra}"
          - else
            = partial "#{org.logo}"
  .see-all-link
    = link_to "/customers/" do
      See all customers →
