---
layout: job_family_page
title: "Sales Systems Leadership"
---

Sr. Manager, Sales Systems 

## Responsibilities

* Chief administrator of all sales systems
* Help drive business system strategy and direction across Sales, Marketing and cross-functional teams.
* Collaborate with other departments to improve integration between Salesforce and other mission-critical systems, including Marketo, Zendesk and Zuora.
* Optimize current business processes (e.g. CPQ/QTC) to scale for growth and efficiency
* Facilitate successful implementation of new technology and processes, fostering an organization of continuous process improvement.
* Manage the development of detailed design specifications for use by the technical team.
* Manage data governance processes and adherence of guidelines between internal business units and systems.
* Perform in-depth analysis and insight into key business metrics.

## Requirements

* BA/BS degree
* 5+ years in a business and/or systems role
* Salesforce.com ninja including validation rules, workflow, formulas, sandbox and customization of all standard and custom objects.
* Demonstrated ability to drive cross-functional teams to meet business objectives and influence colleagues, fostering strong working relationships.
* Strong strategic thinking, creative problem solving and analytical skills.
* Excellent problem solving, project management, interpersonal and organizational skills
* Experience owning a project from concept to production, including proposal, discussion, and execution.
* Significant experience with SOQL, APEX and VisualForce
* Certified Salesforce.com Administrator & Force.com Developer
* SaaS and B2B experience preferred
* Interest in GitLab, and open source software
* You share our values, and work in accordance with those values
* Ability to thrive in a fully remote organization
* [Leadership at GitLab](https://about.gitlab.com/company/team/structure/#management-group)
* Ability to use GitLab

<%= partial("job-families/sales/performance", :locals => { :roleName => "Senior Manager Sales Systems" }) %>

## Director, Sales Systems

The Director of Sales Systems reports to the VP of Field Operations and leads a team of business system architects, engineers and administrators to deliver scalable and low friction solutions to the Go-To-Market teams. The Director has the ability to unpack complicated strategic problems and add iterative solutions to the Sales Systems roadmap, executing on delivery. The Director is a leader and mentor, capable of building and sustaining a high performance team as well as aligning with executives and project stakeholders.

## Job Grade

The Director, Sales Systems is a [grade 10](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

## Responsibilities

* Own the delivery of technology improvements for the GitLab WW Sales organization.
* Partner with leaders in Marketing, Sales, Finance and Product to ensure a dependable and integrated Go-To-Market technology backbone.
* Lead the Sales Systems team, setting standards for quality and velocity.
* Drive strategic thought leadership and facilitate executive level communication.
* Develop custom Force.com applications using best of breed design patterns.
* Implement Salesforce.com best practices and a fully controlled change management process.
* Manage the full application life cycle: Requirements Gathering, Architecture, Development, User Acceptance, Roll Out, Support.
* Create a technology to business feedback loop with other Field Operations leaders, helping to make iterative improvements to business processes.
* Manage data governance processes and adherence of guidelines between internal business units and systems.
* Maintain excellent documentation and team processes in the [Sales Systems](https://about.gitlab.com/handbook/sales/field-operations/sales-systems/) and  [Go-To-Market Technical Documentation](https://about.gitlab.com/handbook/sales/field-operations/sales-systems/gtm-technical-documentation/) handbook pages.

## Requirements

* B.S. Degree in Computer Science, Information Systems, or related area. 
* 8-12 years of experience (4+ years management) in SaaS Go-To-Market technology.
* Hands on and in-depth experience with the administration and customization of Enterprise SaaS solutions such as Salesforce.com, Zuora, Marketo, and Zendesk.
* Salesforce.com Certification, preferably Platform Developer 1 or above.
* Deep experience working on database or business intelligence solutions.
* Strong understanding of Go-To-Market business processes and the ability to pair effective and efficient technology solutions to them.
* Analytical and detail oriented, great project management and roadmapping skills
* Excellent communication and interpersonal skills, with the ability to resolve complicated interdepartmental projects and manage stakeholders.
* Committed to “Drink our own Champagne” and fully utilize the GitLab product for internal project management and collaboration.
* Share and work in accordance with our [values](https://about.gitlab.com/handbook/values/).
* [Leadership at GitLab](https://about.gitlab.com/company/team/structure/#management-group)

## Hiring Process

* Selected candidates will be invited to schedule a [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to a first interview with the Hiring Manager
* Second round interviews will be the Interview team that consists of 2-4 interviews
* An optional final interview with a C level Executive may occur

Additional details about our process can be found on our [hiring page](/handbook/hiring).
* Successful candidates will subsequently be made an offer via email

## Performance Indicators

* [IACV vs Plan](https://about.gitlab.com/handbook/sales/performance-indicators/#iacv-vs-plan)
* [New Hire Location Factor < 0.69](https://about.gitlab.com/handbook/business-ops/metrics/#new-hire-location-factor--069)
* [% of team who self-classify as diverse](https://about.gitlab.com/handbook/business-ops/metrics/#percent--of-team-who-self-classify-as-diverse)
* [Cost Actual vs Plan](https://about.gitlab.com/handbook/business-ops/metrics/#cost-actual-vs-plan)
* [System roll out vs plan](https://about.gitlab.com/handbook/business-ops/metrics/#system-roll-out-vs-plan)