---
title: GitLab Analyst Report
description: Download this analyst report on GitLab
suppress_header: true
extra_css:
  - styles-2018.css
  - webcast.css
  - analyst-report.css
---

- if report.canonical_path
  - current_page.data.canonical_path = report.canonical_path

.webcast-header
  .webcast-info
    %h1 #{report.title}
    %p #{report.subtitle}
    - if report.resource_link
      %a{href: "#{report.resource_link}", class: "btn cta-btn orange margin-top20"} Download the report

.gitlab-content-container
  .analyst-content-container
    .webcast-content
      .webcast-content-section
        = partial "#{report.include_file}"
